Standard.Framework/.vs/Standard.Framework/v16/.suo
Standard.Framework/Standard.Framework.Seedworks/obj/project.nuget.cache
Standard.Framework/Standard.Framework.Seedworks/obj/Standard.Framework.Seedworks.csproj.nuget.dgspec.json
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/Standard.Framework.Seedworks.AssemblyInfoInputs.cache
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/Standard.Framework.Seedworks.assets.cache
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/Standard.Framework.Seedworks.csproj.FileListAbsolute.txt
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/Standard.Framework.Seedworks.csprojAssemblyReference.cache
Standard.Framework/Standard.Framework.Seedworks/bin/Debug/netstandard2.0/Standard.Framework.Seedworks.deps.json
Standard.Framework/Standard.Framework.Seedworks/obj/project.assets.json
Standard.Framework/Standard.Framework.Seedworks/obj/Standard.Framework.Seedworks.csproj.nuget.g.props
Standard.Framework/Standard.Framework.Seedworks/obj/Standard.Framework.Seedworks.csproj.nuget.g.targets
Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0/Standard.Framework.Seedworks.AssemblyInfo.cs
/Standard.Framework/Standand.Framework.MessageBroker/bin/Debug/netstandard2.0
/Standard.Framework/Standand.Framework.MessageBroker/obj
/Standard.Framework/.vs/Standard.Framework/DesignTimeBuild
/Standard.Framework/Standard.Framework.Seedworks/bin/Debug/netstandard2.0
/Standard.Framework/Standard.Framework.Seedworks/obj/Debug/netstandard2.0
/Standard.Framework/Standand.Framework.MessageBroker/lib
/Standard.Framework/Standard.Framework.Seedworks/lib
/Standard.Framework/Standard.Framework.Seedworks/obj/Debug
/Standard.Framework/Standard.Framework.Result/obj
