.vs/Stone.Framework/v15/Server/sqlite3/storage.ide-wal
.vs/Stone.Framework/v15/Server/sqlite3/storage.ide-shm
.vs/Stone.Framework/v15/Server/sqlite3/storage.ide
Stone.Framework.Message/obj/Debug/netstandard2.0/Stone.Framework.Result.csproj.FileListAbsolute.txt
